<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>V Chat</title>

    <script>
        console.log("Room ID: <%=roomId %>")
    </script>
</head>
<body>
    V Chat App 
</body>
</html>